In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np

## Load Dataset

In [8]:
# Load dataset
file_path = '/Users/nicholasnoto/Desktop/merged_nba_data.csv'
df = pd.read_csv(file_path)

/var/folders/4h/z0_vz5_s3kg8kx5jd85f4rhh0000gn/T/ipykernel_10498/3025818204.py:3: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [10]:
# Display basic dataset info
print("Dataset Info Before Cleaning:")
print(df.info())

Dataset Info Before Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29146 entries, 0 to 29145
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      29146 non-null  int64
 1   Player  29146 non-null  object
 2   Pos     29146 non-null  object
 3   Age     29146 non-null  int64
 4   Tm      29146 non-null  object
 5   G       29146 non-null  int64
 6   GS      29146 non-null  int64
 7   MP      29146 non-null  float64
 8   FG      29146 non-null  float64
 9   FGA     29146 non-null  float64
 10  FG%     28970 non-null  float64
 11  3P      29146 non-null  float64
 12  3PA     29146 non-null  float64
 13  3P%     24750 non-null  float64
 14  2P      29146 non-null  float64
 15  2PA     29146 non-null  float64
 16  2P%     28838 non-null  float64
 17  eFG%    28970 non-null  float64
 18  FT      29146 non-null  float64
 19  FTA     29146 non-null  float64
 20  FT%     27648 non-null  float64
 21  ORB     29146 non-null  float64
 22  DRB     29146 non-null  float64
 23  TRB     29146 non-null  float64
 24  AST     29146 non-null  float64
 25  STL     29146 non-null  float64
 26  BLK     29146 non-null  float64
 27  TOV     29146 non-null  float64
 28  PF      29146 non-null  float64
 29  PTS     29146 non-null  float64
 30  Season  29146 non-null  object
 31  MVP     14573 non-null  object
dtypes: float64(23), int64(4), object(5)
memory usage: 7.1+ MB
None

In [12]:
# Display initial missing values
print("Missing Values Before Cleaning:")
print(df.isnull().sum())

Missing Values Before Cleaning:
Rk            0
Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%         176
3P            0
3PA           0
3P%        4396
2P            0
2PA           0
2P%         308
eFG%        176
FT            0
FTA           0
FT%        1498
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Season        0
MVP       14573
dtype: int64

In [14]:
# Fix missing values
df["FG%"].fillna(df["FG%"].median(), inplace=True)   # Fill with median
df["3P%"].fillna(df["3P%"].median(), inplace=True)   # Fill with median
df["2P%"].fillna(df["2P%"].median(), inplace=True)   # Fill with median
df["eFG%"].fillna(df["eFG%"].median(), inplace=True) # Fill with median
df["FT%"].fillna(df["FT%"].median(), inplace=True)   # Fill with median

In [16]:
# The MVP column may be NaN due to it only applying to some players
df["MVP"].fillna(False, inplace=True)  # Assume missing means 'False' (Not MVP)

In [18]:
# Verify that no missing values remain
print("\nMissing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
Season    0
MVP       0
dtype: int64

In [20]:
# Reformat 'Season' column for Tableau (time series)
df["Season"] = df["Season"].astype(str).str[:4]  # Extract the first four characters (year)
df["Season"] = pd.to_datetime(df["Season"], format="%Y")  # Convert to Date format

In [22]:
# Verify the change
print("\nReformatted Season Column:")
print(df[["Season"]].head())

Reformatted Season Column:
      Season
0 1997-01-01
1 1997-01-01
2 1997-01-01
3 1997-01-01
4 1997-01-01

In [29]:
# Save the cleaned dataset for Tableau Public
cleaned_file_path = "/Users/nicholasnoto/Desktop/cleaned_merged_nba_data.csv"
df.to_csv(cleaned_file_path, index=False)